<%- include('partials/header.ejs') %>

    <main class="main-index">
        <section class="div-main">
            <div class="div-main-content">
                <h1 class="h1-main">VEJA A <span class="span-index">SINOPSE</span> DOS SEUS FILMES</h1>
                <p class="p-index">VEJA TUDO EM UM SÓ LUGAR</p>
            </div>
        </section>
    </main>

</body>
</html>